<header>


  <div class="grid">
<ul class="menu">

<li><a href="">Browse</a></li>
<li><a href=""><i class="fa fa-user"></i></a>
  <ul>
  <li><a href=""><i class="fa fa-cog"></i> Sub Item</a></li>
  <li><a href=""><i class="fa fa-envelope"></i> Sub Item</a>  </li>
  <li class="divider"><a href=""><i class="fa fa-trash"></i> li.divider</a></li>
  </ul>
</li>

</ul>





    <h1>{{ site.title }}</h1>
    <h4>Ultra–Lean HTML5, CSS, & JS Building Blocks<br />for Rapid Website Production</h4>
    <div class="col_3">
    <i class="fa fa-mobile fa-4x"></i><br />
    Responsive
    </div>
    
    <div class="col_3">
    <i class="fa fa-github fa-4x"></i><br />
    MIT Open Source
    </div>
    
    <div class="col_3">
    <i class="fa fa-flag fa-4x"></i><br />
    479 Icons<br />
    </div>
    
    <div class="col_3 omega">
    <i class="fa fa-tint fa-4x"></i><br />
    Designer Friendly
    </i>
    </div>
    <div class="clear"></div><br />
    <a class="button red large" href="http://www.99lime.com/downloads/"><i class="fa fa-cloud-download"></i> Download (Github)</a> 
    <span style="white-space: nowrap;">
    <a class="button blue large" href="https://twitter.com/htmlkickstart"><i class="fa fa-twitter"></i></a>
    <a class="button blue large" href="mailto:joshua@99lime.com"><i class="fa fa-envelope"></i></a></span><br />
    <p>Downloaded over 91036 Times :)</p> 
  </div>
</div>
    </nav>
</header>
