<div class="menu-edge">
    <ul class="edge-nav">
    <li><a href="#"><i class="fa fa-home"></i> Recommended</a></li>
    <li><a href="#"><i class="fa fa-globe"></i> My Library</a></li>
    
    <li><a href="#"><i class="fa fa-gift"></i> Last added <i class="fa fa-angle-down pull-right"></i></a>
    <li class="divider"></li>
    <li>My Lists</li>
    <li><a href="#"><i class="fa fa-plus"></i> Add list</a></li>
    <li><a href="#"><i class="fa fa-certificate"></i> List 1</a></li>
    <li><a href="#"><i class="fa fa-certificate"></i> List 2</a></li>
        <ul>
        <li><a href="#">UI KITS</a></li>
        <li><a href="#">CSS Files</a></li>
        <li><a href="#">Tutorials <i class="fa fa-angle-down pull-right"></i></a>
            <ul>
            <li><a href="#">HTML</a></li>
            <li><a href="#">CSS</a></li>
            <li><a href="#">Javascript</a></li>
            <li><a href="#">PHP</a></li>
            </ul>
        </li>
        <li><a href="#">Bacon</a></li>
        </ul>
    </li>
    <li><a href="#"><i class="fa fa-cog"></i> Settings</a></li>
    <li><a href="#"><i class="fa fa-question-circle"></i> Help and feedback</a></li>
    </ul>
</div>